{% load crispy_forms_tags %}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="card text-white  mb-3 border-left-warning">
			  	<div class="card-header bg-warning">
			  		<h4 class="card-title">Está seguro que desea cerrar el tiket: {{ obj.tiket }} ? </h4>
			  	</div>
			  	<form method="post" class="form-inline" role="form" action="{% url 'consulta_cerrar' obj.id %}">
                    {% csrf_token %}
                    <div class="card-body">
			    	<h3 class="card-body text-black-50">
                        <i class="fas fa-question-circle fa-2x text-gray-300 align-self-lg-end"></i>
                        {{ form |crispy }}
                    </h3>
                         <button type="submit" class="btn btn-success">Cerrar tiket</button>
                        <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">Cancelar</button>
			  	</div>
                </form>
        </div>

    </div>
</div>
