
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="card text-white  mb-3 border-left-danger">
			  	<div class="card-header bg-danger">
			  		<h4 class="card-title">Accesso denegado! </h4>
			  	</div>
                <div class="card-body text-dark">
                    <p>Podrá realizar una nueva consulta dentro de este ticket, cuando haya cambiado su estado a, <strong>"EN PROCESO"</strong></p>
                     <p>Muchas gracias.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">Cerrar</button>
                </div>
        </div>

    </div>
</div>
