<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>
    Hola {{ nombre }} {{ apellido }}!
</h2>

<p>Tu consulta se envío satisfactoriamente y fue generada bajo el ticket: <h3>{{ ticket }}</h3> </p>
<p style="color: red">Por favor no responder, este mensaje es generado automaticamente por el sistema, pronto recibirias una notificación con tu respuesta o puedes ingresar al siguiente lin: http://consultas.fcejs.unsl.edu.ar/consulta/estado/ticket
para revisar el estado de tu consulta.</p>


</body>
</html>