<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Respuesta</title>
</head>
<body>
<h2>Hola {{ nombre }} {{ apellido }}!</h2>
<h4>Esta es una respuesta generada a tu consulta bajo el ticket: {{ ticket }}</h4>
<h3>Respuesta:</h3>
<p>{{ respuesta }}</p>

<p>Departamento de alumnos - {{ firma }}</p>

<p style="color: red">Por favor no responder, este mensaje es generado automaticamente por el sistema. Puedes ingresar al siguiente lin: http://consultas.fcejs.unsl.edu.ar/consulta/estado/ticket
para revisar el estado de tu consulta.</p>
</body>
</html>